 *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --text:#111;
    --text-bg:#d35400;
    --text-muted:#6b6b6b;

}

.container{
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    /* background-color: violet; */
  
}
.logo-brand{
    width: 30%;
    height: 60vh;
    background-image: url(./log-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}
.container-body{
      width: 100%;
      max-width: 400px;
       padding: 10px;  
    /* height: 75%; */
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 9px 6px rgb(187, 188, 205);
    -moz-box-shadow: 0px 0px 9px 6px rgb(164, 165, 178);
    box-shadow: 0px 0px 9px 6px rgb(221, 221, 238);
   
}

.item-header1{
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    
}
.item-header-logo{
   
     flex: 0 0 clamp(100px, 15vw, 100px);
     aspect-ratio: 1 / 1;
    background-color:#B7C4CF;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    display: flex; 
    border-radius: 50%;
    background-color: #d35400;
    color: #fff;
    font-family: 'Poppins', sans-serif;  
}

.item-header2{
  width:70% ;
  height: 100%;
  /* background-color:greenyellow; */
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* gap:10px; */
  
}
.shop-name{
 font-size: 1.2rem;
 line-height: 2rem;
 color: #111;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
margin-left:7%;
border-right: 1px solid white;
white-space: nowrap;
overflow: hidden;
animation: blinking 1s infinite ;
}

@keyframes blinking {
0%{border-color: transparent}
50%{border-color: #fff;}
100%{border-color:transparent}    
}

.shop-info{
font-size: 0.8rem;
font-weight: normal;
color: var(--text-muted);
font-family: 'Open Sans', sans-serif;
font-weight: 500;
margin-left:7%;
letter-spacing: 0.2px;

}
.address{
    /* background-color:green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}
.shop-address{
    font-size: 0.8rem;
    color:#6e6d6d;
    /* margin-left: 5%; */
    font-weight:500;
    letter-spacing: 0.2px;
}
.shop-address-info{
    color:#111;
    font-size: 1rem;
    font-weight: 500;
    /* margin-left: 5%; */
    letter-spacing: 0.2px;
}
.time-container{
    display: flex;
    flex-direction: column;
  
    padding-left: 10px;
    /* background-color: grey; */
}
.shop-time-title{
  
 color:#6e6d6d;
 font-size: 0.8rem;

 letter-spacing: 0.2px;
 font-weight: 500;
}
.shop-time{
 color:#111;
font-weight: 500;
font-size: 1rem;

letter-spacing: 0.2px;
}
.food-container{
min-width: 100%;
/* height: 10vh; */
display: flex;
flex-direction: column;
padding: 10px;
/* background-color:firebrick; */
}
.food-item{
 /* margin-left:5%; */
 font-size:0.8rem; 
 font-weight: 500;
 color:#6e6d6d;
  letter-spacing: 0.2px;
}
.item-description{
    font-size: 1rem;
    color:#111;
    /* margin-left: 5%; */
    font-weight: 500; 
    letter-spacing: 0.2px;
}
.contact-container{
    width: 100%;
    padding-left: 10px;
    /* background: #000; */
}
.contact-header{
    font-size: 0.8rem;
    color:#6e6d6d;
    font-weight: 500;
    /* margin-left: 5%; */
    /* background-color: tan; */
    letter-spacing: 0.2px;
}
.email-id{
    text-decoration: none;
    font-size: 1rem;
    color:#111;
    font-family: 500;
    letter-spacing: 0.2px;
    padding-right: 10px;
}
.contact-phone{
font-size: 1rem;
font-weight: 500;
color:#111;
/* margin-left: 2%; */
letter-spacing: 0.2px;
padding-left: 10px;

}
.contact-details{
    display: flex;
    justify-content: space-between;
    /* margin-left: -4%; */
    /* padding-left: 10px; */
}

.icon-container{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #111;
    padding: 5px;
}
.icon-container i{
 color: #111;
font-size: 1.5rem;
}
.footer{
    font-size: 0.7rem;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    color:#111;
    letter-spacing: 0.2px;
    padding: 5px;
    
}
.lastime{
    text-align: end;
}

/* .dgd{
    background-color: #fff;
} */

.icon-container a:hover{
transform: scale(1.3);
}
.icon-container a{
 transition: transform 0.3s ease;

 }



@media screen and (max-width: 800px) {
  
    .container-body{
        max-width: 90%;
        padding: 15px;
    }
    .item-header1{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }.email-id{
        padding: right -10px;
    }
    .shop-name{
        text-align: center;
    }
    .shop-info{
        text-align: center;
    }
  .address{
    text-align: center;
  }
  .time-container{
    text-align: center;
  }
   .food-container{
    text-align: center;
  }
  .food-item{
    text-align: center;
  }
 
.contact-container{
    text-align: center;
}
  .contact-details {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}

